{% load static from staticfiles %}
{% load bootstrap %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Register Book</title>
</head>
<body>
	{% if book %}
		<h2>Update Book</h2>
	{% else %}
		<h2>New Book</h2>	
	{% endif %}
	
    <form method="POST" novalidate>
        {% csrf_token %}
        {{ form|bootstrap }}
        <a href="/" class="btn btn-outline-secondary"><i class="fa fa-arrow-left"></i> Back</a>
		<button type="submit" class="btn btn-success"><i class="fa fa-hdd-o"></i> Save</button>
    </form>
	
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>